<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>snacks</title>
  {% endblock title %}
  
  {% block link %}
  <link rel="stylesheet" href="templates/style.css">
  {% endblock link %}


 
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}"">About</a></li>
      </ul>
    </nav>
  </header>
  {% block header %}
  <h1>hello</h1>
  {% endblock %}
  
</body>
</html>